body{
text-align:center;
margin:20px 10px 10px;
    font-weight:normal;
    text-align:center;
     padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;

}

h1,
  p
{
    font-family: 'Bebas Neue', sans-serif;

}

h2{
background:pink;
font-family:'Comforter', sans-serif;

}
.hero{
    font-family: 'Bebas Neue', sans-serif;
text-align:center;
font-weight:bold;
text-align:center;
margin-top:30px;
background:#f5f2fe;

}
.btn{
text-align:center;
}