body{
text-align:center;
margin:20px 10px 10px;
    font-weight:normal;
    text-align:center;
     padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;

}


h1{
    font-size:96px;
    font-weight:bold;
}
p{
    font-weight:normal;
}

h1,
  p
{
    font-family: 'Bebas Neue', sans-serif;

}

h2{
font-size:36px;
font-weight:bold;

}
.hero{
    font-family: 'Bebas Neue', sans-serif;
text-align:center;
text-align:center;
margin-top:30px;
background:#f5f2fe;
padding:160px 20px;
}
.btn{
text-align:center;
border-radius:4px;
padding:10px 10px 10px;
}